<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="Cache-Type" content='image/gif,image/png,image/jpg'/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>拍卖</title>
    <meta name="description" content="">
    <meta name="keywords" content="index">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="apple-mobile-web-app-title" content=""/>
    <script type="text/javascript" src="../../../static/js/flexible.js"></script>
    <script type="text/javascript" src="../../../static/js/flexible_css.js"></script>
    <link rel="stylesheet" type="text/css" href="../../../static/css/main.css?0.100">
    <script type="text/javascript" src="../../../static/js/jquery-1.12.3.min.js"></script>
</head>
<body class="ruleBg">
    <div class="navbar">
        <a class="back"><img src="../../../static/img/back.png"/></a>
        <h1>晒单规则</h1>
    </div>
    <div class="mainContent">
        <div class="rule1">
            <h1>参与方法</h1>
            <p>1.拍到商品后可以通过中奖商品的商品详情页下方"晒单赢拍币"按钮进行晒单;</p>
            <p>2.拍到商品后可以通过"我的"-"我的拍卖纪录"-"已付款"找到商品,点击"晒单得拍币"进行晒单。</p>
        </div>
        <div class="rule1">
            <h1>晒单要求</h1>
            <p>1.晒单字数不少于6个字;
            <p>2.不少于一张晒单照片。</p>
        </div>
        <div class="rule1">
            <h1>晒单奖励</h1>
            <p>晒单通过的用户将随机获得一定数量的拍币，拍币可用于极速拍卖中任一商品的拍卖。</p>
        </div>
        
        
    </div>
    <script type="text/javascript" src="../../../static/js/jquery-1.12.3.min.js"></script>  
    <script type="text/javascript" src="../../../static/js/store-json2.min.js"></script> 
    <script type="text/javascript" src="../../../static/js/AppHelper.js?0.100"></script> 
    <script type="text/javascript" src="../../../static/js/MobileDetect.js"></script>
    <script src="../../../src/js/util.js"></script>
    <script type="text/javascript">
        $(".back").click(function(){
            window.Auction.back();
        })
    </script>
</body>
</html>

    
