<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="Cache-Type" content='image/gif,image/png,image/jpg'/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>拍卖</title>
    <meta name="description" content="">
    <meta name="keywords" content="index">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="apple-mobile-web-app-title" content=""/>
    <script src="../../../static/js/flexible_css.js"></script>
    <script src="../../../static/js/flexible.js"></script>
    <link rel="stylesheet" href="../../../static/css/swiper.min.css"/>
    <link rel="stylesheet" href="../../../static/css/common.css"/>
    <link rel="stylesheet" href="../../../static/css/zan.css"/>
    <link rel="stylesheet" href="../../../static/css/sundetails.css?0.07"/>
    <link rel="stylesheet" type="text/css" href="../../../static/css/main.css?0.100">
    <style>
        .is-sdk{
            display: none;
        }
        .swiper-container{
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 999;
            background-color: #000;
            display: none;
        }
        .swiper-container .swiper-wrapper{
            height: 100%;
        }
        .swiper-container .swiper-wrapper .swiper-slide{
            width: 100%;
            height: 100%;
            overflow: hidden;
            display: -webkit-flex; /* Safari */
            display: flex;
        }
        .swiper-container .swiper-wrapper .swiper-slide img{
            width: 100%;
            align-self:center;
        }
        .swiper-container .swiper-pagination{
            height: 0.373334rem;
            top: 0.93rem;
            left: 0;
            width: 100%;
            font-size: .4rem;
            color: #ffffff;
        }
    </style>
</head>
<body>
<header id="fixnav">
    <div class="back_arrow"></div>
    <h2>晒单详情</h2>
</header>
<div class="container">
    <div class="container-title is-sdk">
        <div class="img"></div>
        <div class="text">收到徒弟更有持续收益</div>
        <div class="share-btn">分享</div>
    </div>
    <ul class="goods-details-wrapper">
        <!--<li class="goods-details-item">-->
            <!--<div class="goods-details">-->
                <!--<div class="goods-details-top">-->
                    <!--<img class="goods-img"-->
                         <!--src="http://egoures.tt286.com/market/indiana/goods2017/06/30/bzhlodqam3/1498806562925.jpg">-->
                    <!--<h3 class="goods-name">苹果(Apple) iPhone7 Plus 4G手机 金色 全网通(128G)</h3>-->
                <!--</div>-->
                <!--<div class="goods-details-bottom">-->
                    <!--<ul>-->
                        <!--<li class="goods-item"><span>中标人:</span><span>许卡的</span></li>-->
                        <!--<li class="goods-item"><span>成交价格:</span><span>许卡的</span></li>-->
                        <!--<li class="goods-item"><span>期数:</span><span>20151354352</span></li>-->
                        <!--<li class="goods-item">2017:08:16</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="sun-container">-->
                <!--<div class="sun-title">-->
                    <!--<div class="sun-title-l">晒单正文</div>-->
                    <!--<div class="sun-title-r">-->
                        <!--<span class="zan-icon"><img src="../../../static/img/zan.png"/></span>-->
                        <!--<span class="zan-num">1</span>-->
                        <!--<span class="add-num"><em>+1</em></span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="sun-details">-->
                    <!--<p class="sun-details-p">用了快俩月了，用的硅胶壳，后边有那种亮点，可能是脏东西磨的，另外，屏幕不太亮，家里哥用的6s和6sp-->
                        <!--，相对来说7的屏幕暗黄相对来说7的屏幕暗黄相对来说7的屏幕暗黄相对来说7的屏幕暗黄</p>-->
                    <!--<div class="goods-details-img">-->
                        <!--<img src="http://egoures.tt286.com/market/indiana/goods2017/06/30/bzhlodqam3/1498806562925.jpg">-->
                        <!--<img src="http://egoures.tt286.com/market/indiana/goods2017/06/30/bzhlodqam3/1498806562925.jpg">-->
                        <!--<img src="http://egoures.tt286.com/market/indiana/goods2017/06/30/bzhlodqam3/1498806562925.jpg">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</li>-->
    </ul>
</div>


<div class="swiper-container swiper-banner">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <!--<img src="http://sjdcmp.droibank.tt286.com/public/images/bc/8d/4f/f67ce1337db48c54995a755749ad8f480c4d0978.png">-->
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>

<script src="../../../static/js/jquery-2.2.3.min.js"></script>
<script src="../../../static/js/lazysizes.js"></script>
<script src="../../../static/js/store-json2.min.js"></script>
<script src="../../../static/js/dropload.min.js"></script>
<script src="../../../static/js/swiper.jquery.min.js"></script>
<script type="text/javascript" src="../../../static/js/AppHelper.js?0.100"></script>
<script type="text/javascript" src="../../../static/js/MobileDetect.js"></script>
 <script src="../../../src/js/util.js"></script>
    <script type="text/javascript" src="../../../src/js/common.js?0.201"></script>
    <script type="text/javascript" src="../../../src/js/main.js?0.201"></script>
<script>
    var fnBase = fnBase;
    fnBase.init();
    var myObject=myObject;
    myObject.init();
    myObject.isNew();
    var mySwiper = new Swiper ('.swiper-container', {
        speed:300,
        pagination: '.swiper-pagination',
        paginationType : 'fraction',
        paginationBulletRender: function (swiper, index, className) {
            return '<span class="' + 'swiper-pagination-bullet' + '">' + '</span>';
        }
    });

    var op = "wx_e30d27d057cd654d274c2326";
    var sunDetailsEvent = {
        goodsId:fnBase.getUrlPar("goodsId"),
        gid:fnBase.getUrlPar("gid"),
        kindId:fnBase.getUrlPar("kindId"),
        source:fnBase.getUrlPar("source"),
        isSDK:fnBase.getUrlPar("isSDK"),
        hasLike:false,
        init:function(){
            this.addMainClickEvent();
            this.addGetInfoHtml();
            this.addSwiperEvent();
            if(sunDetailsEvent.isSDK == "true"){

            }else {
                $(".is-sdk").show()
            }
        },

        addMainClickEvent:function(){
            $(document).on("click",".back_arrow",function(){
                if(sunDetailsEvent.source == "web"){
                    window.history.go(-1)
                }else {
                    window.Auction.back();
                }
            });

            $(document).on("click",".share-btn",function(){
                //统计——晒单详情页点击分享
                var Op = "",clickJson = "";
                Op={
                    "ot":"3"
                };
                clickJson={
                    "actionId":5,
                    "uuid":fnBase.UUID,
                    "openId":store.get('openid'),
                    "ident":"100116",
                    "date":parseInt(new Date().getTime() / 1000),
                    "name":"晒单详情页点击分享"
                };
                fnBase.addStatisticsEvent(Op,clickJson);
                if(store.get('openid')){
                    fnBase.addLocationHref(fnBase.source_url+"/front/view/app/index/sharepage.html?source=web&goodsId="+sunDetailsEvent.kindId + "&agid=" + sunDetailsEvent.goodsId + "&gid=" + sunDetailsEvent.gid)
                }else {
                    window.Auction.openUrl(fnBase.source_url+"/front/view/app/login/index.html")
                }
            });

            $(document).on("click",".zan-icon",function() {
                var zanThis = $(this);
                if(zanThis.attr("data-like") == "true"){
                    fnBase.alert("你已经点赞过了！不能取消喽！")
                }else {
                    fnBase.commonJsonpAjax(fnBase.source_url+"/index.php/Index/Ordershow/doHits",{
                        "openid":store.get('openid'),
                        "goodsId":zanThis.attr("data-goodsid"),
                        "chanel":fnBase.ChannelId,
                        "verCode":fnBase.VersionCode
                    },function(res){
                        console.log(res);
                        if(res.state == 1){
                            zanThis.attr("data-like","true");
                            zanThis.html("<img src='../../../static/img/yizan.png' class='animation' />");
                            zanThis.next().text(res.likeNum);
                            //zanThis.next().next().show().html("<em class='add-animation'>+1</em>");
                            //统计——晒单详情页点赞
                            var Op = "",clickJson = "";
                            Op={
                                "ot":"3"
                            };
                            clickJson={
                                "actionId":5,
                                "uuid":fnBase.UUID,
                                "openId":store.get('openid'),
                                "ident":"100117",
                                "date":parseInt(new Date().getTime() / 1000),
                                "name":"晒单详情页点赞"
                            };
                            fnBase.addStatisticsEvent(Op,clickJson);
                        }else {
                            fnBase.alert(res.cause?res.cause:res.msg)
                        }
                    })
                }
            });

            $(document).on("click",".swiper-container",function(){
                $(this).hide()
            });

        },

        isEnd:false,
        lastId:0,
        addGetInfoHtml:function(){
            $('.container').dropload({
                scrollArea : window,
                domDown : {
                    domClass   : 'dropload-down',
                    domRefresh : '<div class="dropload-refresh">↑继续上拉显示下一条</div>',
                    domLoad    : '<div class="dropload-load"><span class="loading"></span>加载中...</div>',
                    domNoData  : '<div class="dropload-noData">无数据了</div>'
                },
                loadDownFn : function(me){
                    // 拼接HTML
                    var result = '';
                    fnBase.commonJsonpAjax(fnBase.source_url+"/index.php/Index/Ordershowlist/showDetailByGoodsid",{
                        "openid":store.get('openid'),
                        "goodsId":sunDetailsEvent.goodsId,
                        "chanel":fnBase.ChannelId,
                        "verCode":fnBase.VersionCode,
                        "lastId":sunDetailsEvent.lastId,
                        "size":1
                    },function(res){
                        if(sunDetailsEvent.isEnd){
                            // 锁定
                            me.lock();
                            // 无数据
                            me.noData();
                        }else {
                            sunDetailsEvent.isEnd = res.end;
                            sunDetailsEvent.lastId = res.lastId;
                            var data = res.shareList[0];
                            console.log(data);
                            result = '<li class="goods-details-item">'
                                    +'<div class="goods-details">'
                                    +   '<div class="goods-details-top">'
                                    +        '<img class="goods-img" src="'+data.imgUrl+'">'
                                    +        '<h3 class="goods-name">'+data.goodsName+'</h3>'
                                    +   '</div>'
                                    +   '<div class="goods-details-bottom">'
                                    +       '<ul>'
                                    +           '<li class="goods-item"><span>中标人：</span><span>'+fnBase.addCutStrEvent(data.nickName?data.nickName:"",12)+'</span></li>'
                                    +           '<li class="goods-item"><span>成交价格：</span><span>￥'+data.dealPrice+'</span></li>'
                                    +           '<li class="goods-item"><span>期数：</span><span>'+fnBase.addCutStrEvent(data.periodNum?data.periodNum:"",14)+'</span></li>'
                                    +           '<li class="goods-item">'+data.time+'</li>'
                                    +       '</ul>'
                                    +   '</div>'
                                    +'</div>'
                                    +'<div class="sun-container">'
                                    +   '<div class="sun-title">'
                                    +       '<div class="sun-title-l">晒单正文</div>'
                                    +       '<div class="sun-title-r">'
                                    +           '<span class="zan-icon" data-like="'+data.hasLike+'" data-goodsid="'+data.goodsId+'"><img src="'+getZanImg(data.hasLike)+'" /></span>'
                                    +           '<span class="zan-num">'+data.likeNum+'</span>'
                                    +           '<span class="add-num"><em>+1</em></span>'
                                    +       '</div>'
                                    +   '</div>'
                                    +   '<div class="sun-details">'
                                    +       '<p class="sun-details-p">'+data.goodsDes+'</p>'
                                    +       '<div class="goods-details-img">'+getGoodsImg(data.imgUrls,data.defaultUrls)+'</div>'
                                    +   '</div>'
                                    +'</div>'
                                    +'</li>';
                        }
                        // 为了测试，延迟1秒加载
                        setTimeout(function(){
                            // 插入数据到页面，放到最后面
                            $('.container .goods-details-wrapper').append(result);
                            // 每次数据插入，必须重置
                            me.resetload();
                        },300);
                    })
                }
            });
        },
        addSwiperEvent:function(){
            $(document).on("click",".goods-details-img img",function(){
                $(".swiper-container").show();
                var swiperWrapperhtml = "",imgHdUrls = $(this).parent().children(),imgIndex = $(this).index();
                var swiper = '',bannerStr='';
                console.log(imgHdUrls.length);
                for(var i= 0,len=imgHdUrls.length;i<len;i++){
                    swiperWrapperhtml += '<div class="swiper-slide">'
                                        + '<img src="'+imgHdUrls.eq(i).attr("data-url")+'">'
                                        +'</div>'
                }
                $(".swiper-wrapper").html(swiperWrapperhtml);
                mySwiper.update();
                mySwiper.slideTo(imgIndex);
            })
        }
    };
    sunDetailsEvent.init();

    function getZanImg(hasLike){
        if(hasLike){
            return "../../../static/img/yizan.png"
        }else {
            return "../../../static/img/zan.png"
        }
    }
    function getGoodsImg(dataImgUrls,dataHdUrls){
        var imgHtml = "";
        for(var i = 0,len = dataImgUrls.length;i<len;i++){
            imgHtml += '<img data-url="'+dataHdUrls[i]+'" class="lazyload" src="'+dataImgUrls[i]+'">'
        }
        return imgHtml
    }
</script>
</body>
</html>