<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="Cache-Type" content='image/gif,image/png,image/jpg'/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>拍卖</title>
    <meta name="description" content="">
    <meta name="keywords" content="index">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="apple-mobile-web-app-title" content=""/>
    <script type="text/javascript" src="../../../static/js/flexible.js"></script>
    <script type="text/javascript" src="../../../static/js/flexible_css.js"></script>
    <link rel="stylesheet" type="text/css" href="../../../static/css/main.css?0.200">
    <link rel="stylesheet" href="../../../static/css/common.css"/>
    <link rel="stylesheet" href="../../../static/css/details.css?0.10"/>
    <link rel="stylesheet" href="../../../static/css/zan.css"/>
    <style>
        .img{
            display: inline-block;
            left: 50%;
            top: 50%;
            position: absolute;
            width: 1.466667rem;
            margin-top: -.2rem;
            margin-left: -.7333335rem;
        }
        .img img{
            width: 100%
        }
    </style>
</head>
<body>
    <header>
        <div class="back_arrow back_home"></div>
        <h2>商品详情</h2>
    </header>
    
    <div class="img"><img src="../../../static/img/loading.gif"/></div>
    <!--<div class="tipBox">
        <div class="tipBox_inner">
            <p>您已有账号，是否继续使用游客模式?</p>
            <div>
                <a class="go">继续</a>
                <a class="accountLog">账号登录</a>
            </div>
        </div>
    </div>-->
    <script type="text/javascript" src="../../../static/js/jquery-1.12.3.min.js"></script>  
    <script type="text/javascript" src="../../../static/js/store-json2.min.js"></script> 
    <script type="text/javascript" src="../../../static/js/AppHelper.js?0.102"></script> 
    <script type="text/javascript" src="../../../static/js/MobileDetect.js"></script>
    <script src="../../../src/js/util.js"></script>
    <script type="text/javascript" src="../../../src/js/main.js?0.207"></script>
    <script type="text/javascript">
        var myObject=myObject;
        var host=myObject.host;
        myObject.YKLogin(1);

        /*$(".accountLog").click(function(){
            $(".tipBox").hide();
            window.location.href=host+'/front/view/app/login/index.html';
            //window.Auction.backPage(4);
            //var pageUrl=host+'/front/view/app/login/index.html'
            //window.Auction.openUrl(pageUrl);
        })

        $(".go").click(function(){
            myObject.YKLogin(1);
            //window.Auction.back()   
        })*/
    </script>
</body>
</html>

    
