<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="Cache-Type" content='image/gif,image/png,image/jpg'/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>拍卖</title>
    <meta name="description" content="">
    <meta name="keywords" content="index">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="apple-mobile-web-app-title" content=""/>
    <script type="text/javascript" src="../../../static/js/flexible.js"></script>
    <script type="text/javascript" src="../../../static/js/flexible_css.js"></script>
    <link rel="stylesheet" type="text/css" href="../../../static/css/main.css?0.100">
</head>
<body class="bgWhite">
    <div class="navbar">
        <a class="back" href="javascript:history.go(-1)"><img src="../../../static/img/back.png"/></a>
        <h1>帮助中心</h1>
    </div>
    <div class="mainContent help">
        <ul>
            <li class="helpTitle">拍卖规则</li>
            <li>
                <div class="helpContent">
                    <div class="helpicon"><span></span><img src="../../../static/img/question.png"/></div><p class="question">当前价</p>
                </div>
                <div class="helpContent">
                    <div class="helpicon"><span></span><img src="../../../static/img/answer.png"/></div>
                    <p class="answer">前一次用户（包括您和其他用户）出价之后的金额，每次出价商品价格增加0.01元。</p>
                </div>
            </li>
            <li>
                <div class="helpContent">
                    <div class="helpicon"><span></span><img src="../../../static/img/question.png"/></div><p class="question">成功竞拍/出局</p>
                </div>
                <div class="helpContent">
                    <div class="helpicon"><span></span><img src="../../../static/img/answer.png"/></div>
                    <p class="answer">竞拍时间结束时，最终出价领先的用户，视为成功抢购。其余用户视为出局。</p>
                </div>
            </li>
            <li>
                <div class="helpContent">
                    <div class="helpicon"><span></span><img src="../../../static/img/question.png"/></div><p class="question">出价资格</p>
                </div>
                <div class="helpContent">
                    <div class="helpicon"><span></span><img src="../../../static/img/answer.png"/></div>
                    <p class="answer">您竞拍出价前需要获得出价资格；<br/>
(1)出价资格支付的拍币对应商品所在的专区，如在10元专区，每获得一次出价资格需要支付10拍币；<br/>
(2)竞拍结束后，您为获取出价资格支付的费用都会返回30%到您极速拍卖的账户中，可用于参与其他商品抢购。剩余70%拍币中将按以下方式返还到账户余额中;<br/></p>
<div style="width:80%;display:block;margin:0 auto;color:#999">
    <dl>
        <dd style="width:50%;float:left;text-align:center;border-top:1px solid #999">
            <dl style="border-left:1px solid #999">
                <dd style="border-right:1px solid #999;border-bottom:1px solid #999;height:0.5rem;line-height:0.5rem">时间</dd>
                <dd style="border-right:1px solid #999;border-bottom:1px solid #999;height:0.5rem;line-height:0.5rem">竞拍结束次日</dd>
                <dd style="border-right:1px solid #999;border-bottom:1px solid #999;height:0.5rem;line-height:0.5rem">竞拍结束第三天</dd>
                <dd style="border-right:1px solid #999;border-bottom:1px solid #999;height:0.5rem;line-height:0.5rem">竞拍结束第七天</dd>
                <dd style="border-right:1px solid #999;border-bottom:1px solid #999;height:0.5rem;line-height:0.5rem">合计</dd>
            </dl>
        </dd>
        <dd style="width:50%;float:right;text-align:center;border-top:1px solid #999">
            <dl>
                <dd style="border-right:1px solid #999;border-bottom:1px solid #999;height:0.5rem;line-height:0.5rem">返还比例</dd>
                <dd style="border-right:1px solid #999;border-bottom:1px solid #999;height:0.5rem;line-height:0.5rem">20%</dd>
                <dd style="border-right:1px solid #999;border-bottom:1px solid #999;height:0.5rem;line-height:0.5rem">30%</dd>
                <dd style="border-right:1px solid #999;border-bottom:1px solid #999;height:0.5rem;line-height:0.5rem">50%</dd>
                <dd style="border-right:1px solid #999;border-bottom:1px solid #999;height:0.5rem;line-height:0.5rem">100%</dd>
            </dl>
        </dd>
    </dl>
</div>
<p class="answer">
(3)举例：参与商品竞拍100拍币，没拍到，竞拍结束后系统将先返100*30%=30拍币，次日返70*20%=14拍币，第三天返70*30%=21拍币，第七天返70*50%=35拍币，合计总共返100拍币。<br/></p>
                </div>
            </li>
            <li>
                <div class="helpContent">
                    <div class="helpicon"><span></span><img src="../../../static/img/question.png"/></div><p class="question">倒计时规则</p>
                </div>
                <div class="helpContent">
                    <div class="helpicon"><span></span><img src="../../../static/img/answer.png"/></div>
                    <p class="answer">倒计时统一为10秒，临近结束前，如果有用户出价，倒计时会自动延长，直至最终无人出价，竞拍结束。</p>
                </div>
            </li>
            <li>
                <div class="helpContent">
                    <div class="helpicon"><span></span><img src="../../../static/img/question.png"/></div><p class="question">订单确认</p>
                </div>
                <div class="helpContent">
                    <div class="helpicon"><span></span><img src="../../../static/img/answer.png"/></div>
                    <p class="answer">成功竞拍的用户，需要到“我的”中填写“收货地址”等重要信息。平台会在您确认订单后3个工作日内将商品发出。</p>
                </div>
            </li>
            <li class="helpTitle">规则疑问</li>
            <li>
                <div class="helpContent">
                    <div class="helpicon"><span></span><img src="../../../static/img/question.png"/></div><p class="question">怎么样才算拍卖成功?</p>
                </div>
                <div class="helpContent">
                    <div class="helpicon"><span></span><img src="../../../static/img/answer.png"/></div>
                    <p class="answer">如果您是某商品的最后竞拍人，即在您之后无人参与竞拍，竞拍倒计时结束后，您就成功拍到此商品了。只需在拍卖纪录中找到待支付订单，支付您最终拍到的商品的竞拍价就可以获得商品啦！</p>
                </div>
            </li>
            <li>
                <div class="helpContent">
                    <div class="helpicon"><span></span><img src="../../../static/img/question.png"/></div><p class="question">怎么参与拍卖？</p>
                </div>
                <div class="helpContent">
                    <div class="helpicon"><span></span><img src="../../../static/img/answer.png"/></div>
                    <p class="answer">参与拍卖前需要用您的账号登录，充值拍币到账户里，选择想要的商品，点击“参与竞拍”即可开始竞拍了。</p>
                </div>
            </li>
            <li>
                <div class="helpContent">
                    <div class="helpicon"><span></span><img src="../../../static/img/question.png"/></div><p class="question">拍卖的钱怎么收取？</p>
                </div>
                <div class="helpContent">
                    <div class="helpicon"><span></span><img src="../../../static/img/answer.png"/></div>
                    <p class="answer">为了防止恶意加价，参与竞拍每次需要支付1拍币（10元专区需要10拍币）获取出价资格。就好像你去参加拍卖会，你想要举手，得先支付1拍币。如果您最终没有拍中商品，这个钱我们最终会退给您100%的哦。</p>

                </div>
            </li>
            <li>
                <div class="helpContent">
                    <div class="helpicon"><span></span><img src="../../../static/img/question.png"/></div><p class="question">为什么倒计时会延长?</p>
                </div>
                <div class="helpContent">
                    <div class="helpicon"><span></span><img src="../../../static/img/answer.png"/></div>
                    <p class="answer">商品临近结束时，如果有用户出价，时间会自动延长。例如10秒之内有人出价，时间会回到10秒，直到无人出价，由最后拍到的人支付所拍款项即结束。</p>

                </div>

            </li>
            <li>
                <div class="helpContent">
                    <div class="helpicon"><span></span><img src="../../../static/img/question.png"/></div><p class="question">竞拍的流程是怎样的?</p>
                </div>
                <div class="helpContent">
                    <div class="helpicon"><span></span><img src="../../../static/img/answer.png"/></div>
                    <p class="answer">(1)登录/注册-充值-获得拍币-参与竞拍-竞拍成功-支付拍得商品金额；<br/>
                    (2)登录/注册-充值-获得拍币-参与竞拍-竞拍失败-领取退还参与竞拍金额的100%，具体返还时间参见帮助中心——出价资格；
例如，花了100拍币参与竞拍，最后竞拍结束，会返回100拍币到极速拍卖账户。<br/>
                    </p>
                </div>
            </li>
            <li>
                <div class="helpContent">
                    <div class="helpicon"><span></span><img src="../../../static/img/question.png"/></div><p class="question">半夜我怎么没办法进行拍卖呢?</p>
                </div>
                <div class="helpContent">
                    <div class="helpicon"><span></span><img src="../../../static/img/answer.png"/></div>
                    <p class="answer">为了保证拍卖的公平公正，在凌晨在线用户较少的情况下，系统将暂停拍卖，中断的商品将会再第二日继续进行。中断的时间段是02：00——07：00。好好睡觉别盯着手机。</p>
                </div>
            </li>
            <li class="helpTitle">资金相关</li>
            <li>
                <div class="helpContent">
                    <div class="helpicon"><span></span><img src="../../../static/img/question.png"/></div><p class="question">拍币怎么获得?</p>
                </div>
                <div class="helpContent">
                    <div class="helpicon"><span></span><img src="../../../static/img/answer.png"/></div>
                    <p class="answer">可以通过两种方式获得拍币：<br/>(1)登录后，在【我的】页面，点击充值，选择支付宝支付，即可获得拍币，充值之后可以尝试刷新页面，保证账户显示正常；<br/>(2)登录后，点击首页“充值”，选择支付宝支付，即可获得拍币，充值之后可以尝试刷新页面，保证账户显示正常；<br/>(3)竞拍结束后，竞拍失败的返回100%到极速拍卖账户中。<br/></p>
                </div>
            </li>
            <li>
                <div class="helpContent">
                    <div class="helpicon"><span></span><img src="../../../static/img/question.png"/></div><p class="question">拍币可以提现吗?</p>
                </div>
                <div class="helpContent">
                    <div class="helpicon"><span></span><img src="../../../static/img/answer.png"/></div>
                    <p class="answer">目前拍币不支持提现，仅提供在此app进行参与竞拍使用。
                    </p>
                </div>
            </li>
            <li>
                <div class="helpContent">
                    <div class="helpicon"><span></span><img src="../../../static/img/question.png"/></div><p class="question">拍卖失败后会返还拍币吗?</p>
                </div>
                <div class="helpContent">
                    <div class="helpicon"><span></span><img src="../../../static/img/answer.png"/></div>
                    <p class="answer">如果您竞拍失败，您参与竞拍的费用，将在竞拍结束后退还您参与竞拍金额的100%的拍币到账户中。</p>
                </div>
            </li>
            <li class="helpTitle">账号相关</li>
            <li>
                <div class="helpContent">
                    <div class="helpicon"><span></span><img src="../../../static/img/question.png"/></div><p class="question">怎么修改收货地址？</p>
                </div>
                <div class="helpContent">
                    <div class="helpicon"><span></span><img src="../../../static/img/answer.png"/></div>
                    <p class="answer">您可以打开App，在【我的】-【收货地址】进行修改。</p>
                </div>
            </li>
            <!--<li>
                <div class="helpContent">
                    <div class="helpicon"><span></span><img src="../../../static/img/question.png"/></div><p class="question">登陆后账户余额不对？</p>
                </div>
                <div class="helpContent">
                    <div class="helpicon"><span></span><img src="../../../static/img/answer.png"/></div>
                    <p class="answer">我们目前有三种登录方式，分别为QQ、微信及微博，不同的登录方式会生成不同的账号，建议您可分别登录查看记录。</p>
                </div>
            </li>-->
            <li class="helpTitle">商品相关</li>
            <li>
                <div class="helpContent">
                    <div class="helpicon"><span></span><img src="../../../static/img/question.png"/></div><p class="question">商品是不是正品？</p>
                </div>
                <div class="helpContent">
                    <div class="helpicon"><span></span><img src="../../../static/img/answer.png"/></div>
                    <p class="answer">极速拍卖所有商品均从京东进行采购，保证正品。</p>
                </div>
            </li>
            <li>
                <div class="helpContent">
                    <div class="helpicon"><span></span><img src="../../../static/img/question.png"/></div><p class="question">商品有没售后（保修）服务？</p>
                </div>
                <div class="helpContent">
                    <div class="helpicon"><span></span><img src="../../../static/img/answer.png"/></div>
                    <p class="answer">商品寄送时会有对应的保修卡，届时可持保修卡直接找对应产品商家进行保修服务。</p>
                </div>
            </li>

            <li>
                <div class="helpContent">
                    <div class="helpicon"><span></span><img src="../../../static/img/question.png"/></div><p class="question">支付后什么时候发货？</p>
                </div>
                <div class="helpContent">
                    <div class="helpicon"><span></span><img src="../../../static/img/answer.png"/></div>
                    <p class="answer">我们一般是确认订单后的3个工作日内发货，节假日及周末照常发货。
例如：周一的商品，我们会在周一当天进行发货；周五至周日的商品,我们也会当天照常发货。<br/></p>
                </div>
            </li>

            <li>
                <div class="helpContent">
                    <div class="helpicon"><span></span><img src="../../../static/img/question.png"/></div><p class="question">我有问题向联系客服怎么办？</p>
                </div>
                <div class="helpContent">
                    <div class="helpicon"><span></span><img src="../../../static/img/answer.png"/></div>
                    <p class="answer">您可以在工作日早上9:00至晚上19:00联系我们的客服，客服联系方式如下</p>
                </div>
            </li>

            <li>

                <div class="helpContent">
                    <p class="answer">客服QQ:3248314804</p>
                    <p class="answer">客服微信:uzikefu</p>
                    <p class="answer">客服电话:13022164481</p>
                    <p class="answer">客服邮箱:uzi@droi.com</p>
                </div>
            </li>
        </ul>
    </div>
    <script type="text/javascript" src="../../../static/js/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="../../../static/js/store-json2.min.js"></script> 
    <script type="text/javascript" src="../../../static/js/AppHelper.js?0.100"></script>
    <script type="text/javascript" src="../../../static/js/MobileDetect.js"></script>
    <script src="../../../src/js/util.js"></script>
    <script type="text/javascript" src="../../../src/js/main.js?0.201"></script>
    <script type="text/javascript">
       
        $(".back").click(function(){
            window.Auction.back();
        })
        var openid=store.get('openid');
        var myObject=myObject;
        var host=myObject.host;
        //统计——帮助中心到达数

        var Op = "",clickJson = "";
        Op={
            "ot":"3"
        };
        clickJson={
            "actionId":3,
            "uuid":AppHelper.YzAppGetUUID(),
            "openId":openid,
            "ident":"100020",
            "date":parseInt(new Date().getTime() / 1000),
            "name":"帮助中心到达数"
        };
        myObject.addStatisticsEvent(Op,clickJson);
    </script>
</body>
</html>

    
