<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="Cache-Type" content='image/gif,image/png,image/jpg'/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>拍卖</title>
    <meta name="description" content="">
    <meta name="keywords" content="index">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="apple-mobile-web-app-title" content=""/>
    <script type="text/javascript" src="../../../static/js/flexible.js"></script>
    <script type="text/javascript" src="../../../static/js/flexible_css.js"></script>
    <link rel="stylesheet" type="text/css" href="../../../static/css/main.css?0.100">
    <script type="text/javascript" src="../../../static/js/jquery-1.12.3.min.js"></script>
    
</head>
<body>
    <div class="navbar" style="display:none">
        <a class="back"><img src="../../../static/img/back.png"/></a>
        <h1>拍卖规则</h1>
    </div>
    <div class="mainContent" style="top:0">
        
        <div id="ruleCover" style="text-align:center"><img src="../../../static/img/loading.gif" style="position:fixed;top:45%;left:45%;width:1.333333rem"/></div>
    </div>
    <script type="text/javascript" src="../../../static/js/store-json2.min.js"></script> 
    <script type="text/javascript" src="../../../static/js/AppHelper.js?0.100"></script>
    <script type="text/javascript" src="../../../static/js/MobileDetect.js"></script>
    <script src="../../../src/js/util.js"></script>
    <script type="text/javascript" src="../../../src/js/main.js?0.201"></script>
    <script type="text/javascript">
    var obj=new Image();
    obj.src="../../../static/img/rule.png";
    obj.onload=function(){
       $("#ruleCover").html('<img src="../../../static/img/rule.png" style="width:100%" id="rule"/>');
    }
   
        $(".back").click(function(){
            window.Auction.back();
        })
        var openid=store.get('openid');
        var myObject=myObject;
        var host=myObject.host;
        //统计——拍卖规则到达数
        var Op = "",clickJson = "";
        Op={
            "ot":"3"
        };
        clickJson={
            "actionId":3,
            "uuid":AppHelper.YzAppGetUUID(),
            "openId":openid,
            "ident":"100021",
            "date":parseInt(new Date().getTime() / 1000),
            "name":"拍卖规则到达数"
        };
        myObject.addStatisticsEvent(Op,clickJson);
        var packageName="";
        try{
            packageName = window.Auction.getChannelId();
        }catch(e){

        }
        console.log(packageName);
        if(packageName==""){
            $(".navbar").hide();
            $(".mainContent").css("top","0");
        }    
        else{
            $(".navbar").show();
            $(".mainContent").css("top","1.2rem");
        }

    </script>
    


</body>
</html>

    
